@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #dcdcdc;
}

section,
footer {
  padding: 54px 0;
}

h3 {
  font-size: 50px;
}

p {
  color: #708090;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

/*Botao*/
.btn {
  background-color: #5f9ea0;
  color: #dcdcdc;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

/*inicio da animação no botao contato pag home*/
.btn.animate-btn {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background-color: #008080;
}

@keyframes animate-outline {
  from {
    outline: 0px solid #428f7178;
  }
  to {
    outline: 15px solid #5aef9d00;
  }
}

/*fim */

header {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  color: #dcdcdc;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

/* efeito nav pag home, excluido efeito no contato*/
nav ul a:not(.btn)::after {
  content: "";
  background-color: #5f9ea0;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

nav ul a:hover::after {
  width: 100%;
}

.logo-home {
  width: 200px;
  height: 200px;
}
/*menu mobile*/
nav .menu-icon {
  cursor: pointer;
  font-size: 25px;
  color: white;
  display: none;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner .banner-text {
  margin: 150px;
  text-align: center;
  padding: 0 90px;
}

.banner .banner-text h1 {
  font-size: 96px;
  color: #ffffffb7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.banner .banner-text p {
  font-size: 20px;
  color: #ffffffb7;
  font-weight: lighter;
  margin: 10px 0;
}

/*quem-somos*/
.quem-somos .container {
  display: flex;
  align-items: center;
}

.quem-somos .quem-somos-text {
  width: 50%;
  padding: 0 40px;
  color: #696969;
  text-align: justify;
}

.quem-somos .quem-somos-text h3 {
  font-size: 56px;
}

.quem-somos .quem-somos-text p {
  margin: 5px 0 10px 0;
  color: #708090;
}

.quem-somos .quem-somos-img {
  width: 50%;
}

.quem-somos .quem-somos-img img {
  width: 100%;
}

/*depoimento*/
.depoimento h3 {
  text-align: center;
  color: #696969;
}

.depoimento p {
  margin-bottom: 20px;
  text-align: center;
}

/*Cards*/
.cards {
  display: flex;
  justify-content: center;
}

.depoimento .card-item {
  background-color: #5f9ea056;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
}

.depoimento .card-item img {
  border-radius: 20%; /*logo das empresas*/
  width: 100px;
  display: block;
  margin: 10px auto;
}

.depoimento .card-item .name-user {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.depoimento .card-item .depoimento-user {
  font-size: 15px;
  padding: 0 15 px;
  transition: 0.3s;
  text-align: justify;
}

.depoimento .card-item {
  margin: 15px;
  border-top: 2px solid #39573c23;
}

.depoimento .card-item i {
  color: #5f9ea0;
  margin-top: 15px;
  font-size: 20px;
  transition: 0.3s;
}

.depoimento .card-item:hover {
  background-color: #2f4f4f;
  margin-top: -5px;
}

.depoimento .card-item:hover .name-user,
.depoimento .card-item:hover .depoimento-user,
.depoimento .card-item:hover .star i,
.depoimento .card-item:hover .testemunho {
  color: white;
}
/*clientes*/

.cliente {
  /* Espaçamento vertical */
  margin-bottom: 40px;
}

.container {
  text-align: justify; /* Texto justificado */
  margin-bottom: 20px; /* Espaço após o texto */
}

.logo-container {
  display: flex; /* Alinha as logos horizontalmente */
  justify-content: space-between; /* Distribui as logos igualmente */
  flex-wrap: wrap; /* Quebra para a próxima linha quando não couberem 5 logos */
}

.logo {
  width: 80px; /* Largura das logos */
  height: 50px; /* Altura das logos */
  margin-bottom: 20px; /* Espaço entre as logos */
}

h3 {
  text-align: center; /* Centraliza o h3 */
  color: #696969;
}

/*footer*/
.footer {
  background-color: #2f4f4f;
  text-align: center;
}

.footer i {
  color: #708090;
  font-size: 19px;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}

.footer .developer p {
  color: #708090;
  margin-top: 10px;
  text-align: center;
}
.footer .developer img {
  width: 50px;
  height: 50px;
}
